
# Fichiers d'environnement
.env
.env.development
.env.production

# Dossiers de build
build/
dist/
target/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
*.apk
*.aab

# iOS
*.ipa
Podfile.lock

./api/service-account.json
./api/

**/.node_modules/
**/.env

**/api/node_modules/.package-lock.json
**/api/node_modules/hasown/CHANGELOG.md
**/api/node_modules/hasown/index.d.ts
**/api/node_modules/hasown/package.json
**/api/package-lock.json